<h3>Edit user info</h3>
<div class="form-container">
  <mat-form-field>
    <input matInput [(ngModel)]="firstName" placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="lastName" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="code" placeholder="Code">
  </mat-form-field>
</div>
<div class="buttons">
  <button mat-button (click)="cancel()">
    Cancel
  </button>
  <button mat-button (click)="save()">
      Save
  </button>
</div>