<h3>Create new user</h3>
<form class="form-container" #newUserForm="ngForm">  
    <mat-form-field>
      <input name="firstName" matInput [(ngModel)]="firstName" placeholder="First Name" required>
    </mat-form-field>
    <mat-form-field>
      <input name="lastName" matInput [(ngModel)]="lastName" placeholder="Last Name" required>
    </mat-form-field>
    <mat-form-field>
      <input name="code" matInput [(ngModel)]="code" placeholder="Code" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="type" placeholder="Type" [(ngModel)]="type" required>
        <mat-option [value]="'internal'">
          Internal
        </mat-option>
        <mat-option [value]="'external'">
          External
        </mat-option>
        <mat-option [value]="'student'">
          Student
        </mat-option>
        <mat-option [value]="'other'">
          Other
        </mat-option>
      </mat-select>
    </mat-form-field>  
</form>
<div class="buttons">
  <button mat-button (click)="cancel()">
    Cancel
  </button>
  <button mat-button (click)="save()" [disabled]="!newUserForm.form.valid">
    Create
  </button>
</div>