<div class="mat-elevation-z6">
  <mat-toolbar color="primary">
    <a mat-button routerLink="/transactions" routerLinkActive="active">
      <mat-icon>
        attach_money
      </mat-icon>
      Transactions
    </a>

    <a mat-button routerLink="/users" routerLinkActive="active">
      <mat-icon>
        person
      </mat-icon>
      Users
    </a>

    <a mat-button routerLink="/balance" routerLinkActive="active">
      <mat-icon>
        account_balance
      </mat-icon>
      Balance
    </a>
  </mat-toolbar>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>