<h2 class="content-title">Users</h2>

<mat-card>
  <mat-table [dataSource]="users">

    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let user" class="user-cell">
        <div class="user-name">{{user.firstName}} {{user.lastName}}</div>
        <div class="user-buttons">    
          <button mat-icon-button (click)="edit(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(user)">
              <mat-icon>deleted</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userCode">
      <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.code}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.balance}} €</mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>


  </mat-table>
</mat-card>

<div class="fab-container">
  <button mat-fab (click)="create()">
    <mat-icon>
      add
    </mat-icon>
  </button>
</div>